@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #ababab;
    color: #232323;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.user-form {
    width: 100%;
    max-width: 700px;
}

.user-form input {
    width: 100%;
    display: block;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: 9px 10px 45px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 10px 45px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 45px -8px rgba(0,0,0,0.75);
    background: #ccc;
}

.user-form input::placeholder {
    color: #9b9b9b;
}

.user-form input {
    outline: none;
}

.card {
    max-width: 800px;
    background: #cccccc;
    border-radius: 20px;
    box-shadow: 9px 10px 45px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 10px 45px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 10px 45px -8px rgba(0,0,0,0.75);
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;
    color: #232323;
}

.avatar {
    border-radius: 50%;
    border: 5px solid #232323;
    height: 150px;
    width: 150px;
}

.user-info {
    margin-left: 2rem;
}

.user-info h2 {
    margin-top: 0;
}

.user-info p {
    text-align: justify;
}

.user-info ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
}

.user-info ul li {
    display: flex;
    align-items: center;
    color: #000;
    font-weight: bold;
    margin-left: 0.5rem;
}

.user-info strong {
    margin-left: 5px;
}

/* .repos {
    text-decoration: none;
    color: #fff;
    background: #212a72;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
} */

#repos a {
    text-decoration: none;
    color: #fff;
    background: #000;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}

#repos a:hover {
    background: transparent;
    color: #000;
    border: 1px solid #000;
}

@media(max-width: 500px) {
    .card {
        flex-direction: column;
        align-items: center;
    }

    .user-form {
        max-width: 400px;
    }
}